nz-card{
    margin: 16px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.task-viewport {
  height: 280px; /* fixed height required for cdk virtual scroll */
  width: 100%;
}

.tasks {
  padding: 16px;
}