<section>
    <nz-card [nzTitle]="todo().title" [nzActions]="[completeButton, editTodo, deleteButton]">
        <p>{{ todo().description }}</p>
    </nz-card>

    <nz-descriptions nzTitle="Todo Details" nzBordered>
        <nz-descriptions-item nzTitle="Status">{{todo().isCompleted ? 'Completed' : 'Not Completed'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Priority">{{todo().priority}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Due Date">{{todo().dueDate | date:'shortDate'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Created At">{{todo().createdAt | date:'shortDate'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Updated At">{{ todo().updatedAt ? (todo().updatedAt | date:'shortDate') : 'N/A'
            }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Tags">
            <ng-container *ngIf="(todo().categories?.length ?? 0) > 0; else noTags">
                <ng-container *ngTemplateOutlet="labelTag"></ng-container>
            </ng-container>
            <ng-template #noTags>
                <span>No Tags</span>
            </ng-template>
        </nz-descriptions-item>
    </nz-descriptions>

    <ng-template #editTodo>
        <button nz-button nzType="default" (click)="editTodoModal.openModal('EDIT', todo())">
            <i nz-icon nzType="edit"></i> Edit
        </button>

        <todo-modal
            #editTodoModal
        ></todo-modal>
    </ng-template>

    <ng-template #priorityTag>
        <nz-tag [nzColor]="getPriorityColor(todo().priority)">
            {{ todo().priority }}
        </nz-tag>
    </ng-template>

    <ng-template #labelTag>
        <nz-tag *ngFor="let label of (todo().categories || [])" style="margin-right: 4px;">
            {{ label.name }}
        </nz-tag>
    </ng-template>

    <ng-template #deleteButton>
        <button nz-button nzType="primary" nzDanger (click)="onDeleteTodo()">
            <i nz-icon nzType="delete"></i> Delete
        </button>
    </ng-template>

    <ng-template #completeButton>
        <button nz-button nzType="primary" (click)="onToggleComplete()">
            <i nz-icon [nzType]="todo().isCompleted ? 'check-circle' : 'check-circle-o'"></i>
            {{ todo().isCompleted ? 'Mark as Incomplete' : 'Mark as Complete' }}
        </button>
    </ng-template>

</section>