<section>
  <div class="header">
    <button nz-button nzType="primary" (click)="todoModalRef.openModal('ADD')">Add Todo</button>
    <todo-filter></todo-filter>
  </div>
  <!-- Aktif kategori başlığı ve açıklaması -->
  <div *ngIf="activeCategory() as cat" class="category-header">
    <div class="category-header-row">
      <div>
        <h2 class="category-title">{{ cat.name }}</h2>
        <p class="category-desc" *ngIf="cat.description">{{ cat.description }}</p>
      </div>
      <button nz-button nzType="default" (click)="categoryEditRef.open(cat)">
        Düzenle
      </button>
    </div>
    <category-edit-modal #categoryEditRef [category]="cat"></category-edit-modal>
  </div>
<todo-modal #todoModalRef></todo-modal>

  <div class="list-container">

    <div class="todo-list" *ngFor="let todo of todoList(); trackBy: trackByTodoId">

      <todo-card [todo]="todo" (edit)="todoModalRef.openModal('EDIT', todo)" (delete)="removeTodo(todo.id)"
        (toggleComplete)="toggleTodoCompletion(todo.id)"></todo-card>
    </div>
  </div>
</section>