<nz-card (click)="onOpenDetails()" [nzTitle]="todo.title" [nzActions]="[toggleButtonTemplate, editButtonTemplate, deleteButtonTemplate]">
  <p>{{ todo.description }}</p>
</nz-card>

<ng-template #deleteButtonTemplate>
  <button nz-button nzType="primary" nzDanger (click)="onDelete(); $event.stopPropagation();">Delete</button>
</ng-template>

<ng-template #editButtonTemplate>
  <button nz-button nzType="default" (click)="onEdit(); $event.stopPropagation();">Edit</button>
</ng-template>

<ng-template #toggleButtonTemplate>
  <button nz-button nzType="primary" (click)="onToggleComplete(); $event.stopPropagation();">
    {{ todo.completed ? 'Mark Incomplete' : 'Mark Complete' }}
  </button>
</ng-template>